@font-face {
    font-family: Avenir;
    src: url(../../assets/Font/AvenirNextLTPro-Regular.otf);
    font-weight: 700;
}

@font-face {
    font-family: Avenir;
    src: url(../../assets/Font/AvenirNextLTPro-Regular.otf);
    font-weight: 400;
}