@font-face {
  font-family: Avenir;
  src: url(../../assets/Font/AvenirNextLTPro-Regular.otf);
  font-weight: 700;
}
@font-face {
  font-family: Avenir;
  src: url(../../assets/Font/AvenirNextLTPro-Regular.otf);
  font-weight: 400;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Avenir";
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: 1rem;
}
@media (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1280px) {
  .header {
    max-width: 70rem;
    margin-inline: auto;
  }
}
.header__wrapper {
  width: 100vw;
  border-bottom: 0.0625rem solid #e1e1e1;
}
.header__logo-section {
  margin: 1rem 1rem 0.5rem 1rem;
}
.header__search-upload-wrapper {
  width: 100%;
}
@media (min-width: 768px) {
  .header__search-upload-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
.header__search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
@media (min-width: 768px) {
  .header__search {
    justify-content: flex-end;
  }
}
.header__search-bar {
  background: url(../../assets/Icons/search.svg) #fafafa no-repeat scroll;
  background-position: 0.5rem 50%;
  border: 1px solid #e1e1e1;
  border-radius: 0.25rem;
  height: 2.5rem;
  width: 100%;
  padding-left: 2rem;
}
@media (min-width: 768px) {
  .header__search-bar {
    width: calc(100vw - 32.5rem);
    max-width: 20rem;
  }
}
.header__avatar {
  background-color: #e1e1e1;
  background-position: center;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  margin-left: 1rem;
  order: 2;
}
@media (min-width: 768px) {
  .header__avatar {
    width: 2.5rem;
    height: 2.5rem;
  }
}
.header__avatar--mobile {
  display: block;
}
@media (min-width: 768px) {
  .header__avatar--mobile {
    display: none;
  }
}
.header__avatar--tablet {
  display: none;
}
@media (min-width: 768px) {
  .header__avatar--tablet {
    display: block;
  }
}
.header__upload-bar {
  width: 100%;
}
@media (min-width: 768px) {
  .header__upload-bar {
    width: auto;
    margin-left: 1.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
.header__upload-btn {
  border-radius: 0.25rem;
  background: url(../../assets/Icons/upload.svg) #0095ff no-repeat scroll;
  background-position: 0.5rem 50%;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2.5rem;
  color: #ffffff;
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 700;
  border: 0;
}
@media (min-width: 768px) {
  .header__upload-btn {
    width: 10.75rem;
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 700;
  }
}
.header__upload-btn::-moz-placeholder {
  text-align: center;
  margin: 0.5rem;
  text-decoration: none;
}
.header__upload-btn::placeholder {
  text-align: center;
  margin: 0.5rem;
  text-decoration: none;
}
.header__upload-btn:hover {
  background-color: #0065ad;
}/*# sourceMappingURL=PageHeader.css.map */